
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-direction:before { content: '\e802'; } /* '' */
.icon-plancast:before { content: '\e804'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f303'; } /* '' */
.icon-googleplus:before { content: '\f309'; } /* '' */
.icon-fb:before { content: '\f30d'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */